@keyframes dropin {
  0% {
    width: 0;
  }
  75% {
    width: 6em;
  }
  100% {
    width: 5em;
  }
}
.star {
  width: 5em;
  padding: 1em;
  margin: auto;
  height: 5em;
  animation: dropin 0.2s 1;
}
